.Main {
    background-color: rgb(165, 219, 192);
    padding: 1rem;
    margin: 1rem;
    
}
h1{
    color:rgb(14, 139, 77)
}

.movieList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
